@font-face {
  font-family: "Sabo";
  src: url('./assets/fonts/Sabo-Filled.otf');
}

html {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  height: 100%;
  width: 100%;
  overflow: hidden;
}